<img id="image" src="/images/snow.jpg" />

<p>
  One dog now in the Dnipro shelter is from Mariupol, a city currently under
  siege from Russian forces. The young male was delivered to the shelter by a
  woman who was about leave Dnipro by train with her two dogs. But the male was
  so traumatized by war the woman said he could not be coaxed into further
  travel. In early March, the shelter took in seven newborn rottweiler puppies
  from Kharkiv, a city which has come under intense bombardment from Russian
  rockets and missiles.</p>

<p>
  Then, on March 12, Bolokhovets organized the collection of 125 dogs and 65
  cats from a kill shelter in Kharkiv. On the streets of Dnipro, the dog rescuer
  says, “the situation has gone from bad to worse” after many people abandoned
  their pets. As a result, Bolokhovets says she is now hamstrung by a total lack
  of space in her shelter.
</p>