<h1>'I Will Never Leave': The Ukrainian Dog Shelter Caught Up In War</h1>

<div>
  <img
    id="image"
    src="/images/VIER PFOTEN_2016-09-18_081-1927x1333-1920x1328.jpg"
  />

  <div class="main-text">
  <p>
    Bolokhovets runs Shelter Friend, an animal rescue center that accommodates
    hundreds of animals, including disabled dogs and cats. Since the war broke
    out, Bolokhovets says warplanes are regularly roaring over the shelter,
    located near Dnipro's strategically crucial airport, and air-raid sirens are
    going off “every day.” Sites in Dnipro have been hit with Russian cruise
    missiles but the city has so far avoided the kind of widespread destruction
    seen in Kharkiv and Mariupol.
  </p>
</div>